In [2]:
import sqlalchemy as sqla
import pandas as pd

In [9]:
sql = '''SELECT DISTINCT c.LastName, c.FirstName, t.Name, a.Title FROM Chinook.InvoiceLine as il
LEFT JOIN Chinook.Track as t
ON il.trackId = t.trackId
LEFT JOIN Chinook.Invoice as i 
ON i.InvoiceId = il.InvoiceId
LEFT JOIN Chinook.Customer as c
ON c.CustomerId = i.CustomerId
LEFT JOIN Chinook.Album as a
ON a.AlbumId = t.AlbumId
ORDER BY LastName, FirstName'''
db = sqla.create_engine('mysql+pymysql://root:cUny$p$_7@127.0.0.1:3306/Chinook')
pd.read_sql(sql, db).head()

  LastName FirstName               Name                         Title
0  Almeida   Roberto  Stir It Up (Live)  Quanta Gente Veio Ver (Live)
1  Almeida   Roberto    Refavela (Live)  Quanta Gente Veio Ver (Live)
2  Almeida   Roberto     Be Good Johnny       The Best Of Men At Work
3  Almeida   Roberto    Down by the Sea       The Best Of Men At Work
4  Almeida   Roberto     It's a Mistake       The Best Of Men At Work

### i had to enter the data of chinook using manual sql script because the download link from the pdf was not working.